.col-lg-3 .card {
  background: white;
  border-radius: 2px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

/* No space can be added here, for example .card :hover */
.card:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 10px 10px #888888;
}

/* The greater than sign (>) means .img-container is .card's first children rather than all of children */
.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}

.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
}

