* {
  box-sizing: border-box;
  /* background-image: url(https://i.pinimg.com/originals/c0/d2/cd/c0d2cddc117e40c16a96385bbfe76f32.jpg); */
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
